.button {
  height: 30px;
  width: 80px;
  border: none;
  color: white;
  border-radius: 5%;
  cursor: pointer;
  margin-top: 60px;
}
.button.primary {
  background-color: RGB(238, 24, 97);
}
.button.secondary {
  background-color: RGB(136, 136, 136);
}
.button:hover {
  opacity: 0.9;
}
